.qna{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}
.qna_item{
    border-top: 1px solid rgb(239,239,239);
    border-bottom: 1px solid rgb(239,239,239);
}
button.question{
    background: transparent;
    cursor: pointer;
    align-items: center;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    height: 64px;
    width: 100%;
    border: none;
}
.wrap_answer{
    display: none;
}